# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# Variables d'entorn
.env
.env.local
.env.*.local

# Sistema operatiu
.DS_Store

# Editor
.vscode/
.idea/

# Build / cobertura
dist/
coverage/

.superpowers/